html, body {
    width: 100%;
    height: 100%;
    background-color: #222;
}

.content {
    width: 100%;
    height: 100%;
}

/* stage --- start */

.stage {
    position: relative;
    width: 100%;
    height: 100%;
}

/* stage --- end */

/* image --- start */

.img-sec {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;

    @at-root {
        .img-figure {
            position: absolute;
            width: 320px;
            height: 360px;
            margin: 0;
            padding: 40px;
            background-color: #fff;
            cursor:pointer;
            box-sizing: border-box;
            transform-style: preserve-3d;
            transform-origin: 0 50% 0;
            transition: transform 0.6s ease-in-out, left 0.6s ease-in-out, top 0.6s ease-in-out;
            perspective: 100px;

            &.is-inverse{
                transform: translate(320px) rotateY(180deg);
            }
        }

        figcaption {
            text-align: center;

            .img-title {
                margin:20px 0 0 0;
                color: #a7a0a2;
                font-size:16px;
            }

            .img-back {
                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;
                padding: 50px 40px;
                overflow: auto;

                color: #a7a0a2;
                font-size: 22px;
                line-height: 1.25;
                text-align: left;

                background-color: #fff;

                box-sizing: border-box;
                transform: rotateY(180deg) translateZ(1px);
                backface-visibility: hidden;

                p {
                    margin: 0;
                }
            }
        }
    }
}

/* image --- end */


/* controller-nav --- start */

.controller-nav {
    position: absolute;
    left: 0;
    bottom: 30px;
    z-index: 101;

    width: 100%;
    text-align: center;
}

/* controller-nav --- end */